<html>
<head>
<title>1995 BMW 540i</title>
<body>
<h1>1995 BMW 540i 6 speed</h1>

This was my daily driver, and man was it an awesome car.  
The 4.0 liter V8 <b>moved</b>.  

<p>
Mods: (not much... the 540 is pretty hot bone stock!)
<ul>
<li>17" rims and low profile tires (235/45ZR-17)
<li>Dinan DME chip:  No speed limiter, better mileage. (before ~18mpg, now ~22mpg)
<li>Dinan Induction tube (together with the chip, ~307hp)
<li>Dinan Thrust arm bushings.
</ul>

<hr>
Current images:  (Click on each for a larger view)<p>
<a href=bmw-side-1-large.jpg><img src=bmw-side-1-small.jpg></a>
<a href=bmw-side-2-large.jpg><img src=bmw-side-2-small.jpg></a>
<a href=bmw-back-corner-dark-large.jpg><img src=bmw-back-corner-dark-small.jpg></a>
<a href=bmw-front-corner-dark-large.jpg><img src=bmw-front-corner-dark-small.jpg></a>
<p>

<a href=bmw-nose-large.jpg><img src=bmw-nose-small.jpg></a>
<a href=bmw-psgr-side-2-large.jpg><img src=bmw-psgr-side-2-small.jpg></a>
<a href=bmw-psgr-side-3-large.jpg><img src=bmw-psgr-side-3-small.jpg></a>
<a href=bmw-psgr-side-4-large.jpg><img src=bmw-psgr-side-4-small.jpg></a>
<a href=bmw-psgr-side-large.jpg><img src=bmw-psgr-side-small.jpg></a>
<a href=bmw-rim-large.jpg><img src=bmw-rim-small.jpg></a>
<p>



<a href="bmw-back-seat-large.jpg"><img src="bmw-back-seat-small.jpg"></a>
<a href="bmw-front-seats-large.jpg"><img src="bmw-front-seats-small.jpg"></a>
<a href="bmw-driver-seat-large.jpg"><img src="bmw-driver-seat-small.jpg"></a>
<br>

<a href="bmw-center-console-1-large.jpg"><img src="bmw-center-console-1-small.jpg"></a>
<a href="bmw-center-console-2-large.jpg"><img src="bmw-center-console-2-small.jpg"></a>
<a href="bmw-driver-dash-large.jpg"><img src="bmw-driver-dash-small.jpg"></a>
<a href="bmw-computer-large.jpg"><img src="bmw-computer-small.jpg"></a>
<a href="bmw-instrument-cluster-large.jpg"><img src="bmw-instrument-cluster-small.jpg"></a>
<br>

<a href="bmw-engine-side-large.jpg"><img src="bmw-engine-side-small.jpg"></a>
<a href="bmw-front-side-large.jpg"><img src="bmw-front-side-small.jpg"></a>
<a href="bmw-rear-large.jpg"><img src="bmw-rear-small.jpg"></a>
<a href="bmw-trunk-large.jpg"><img src="bmw-trunk-small.jpg"></a>

<p>
<hr>
Some images of it prior to rims/tires.<p>
<a href=bmw-stock.jpg><img src=bmw-stock-small.jpg></a><br>
<a href=bmw-stock-2.jpg><img src=bmw-stock-2-small.jpg></a><br>


</body>
</html>
