<div class="container theme-showcase" role="main">

    I've always been fascinated by the interface between the software
    world and the physical world.  In fact, that's how I got started in
    my career.  In high school, I took a CAD/CAM class, culminating with
    a <a href="/daniel/computing/skulproj">Human Skull Model</a>
    where I placed 3rd in a national competition. I had so much fun,
    I started college in the computer engineering program at Cal Poly
    thinking I might work on robotics.  Once I got there, I realized
    that computer science was a better match for me, but I've always
    enjoyed tinkering with electronics and the hardware/software boundary.

    <div class="media">
<img src="{{ .BlobPrefix }}/graphics/electronics/sprinkler_controller.jpg" class="img-responsive">
        <div class="media-body">
            <h3 class="media-heading">Irrigation Control</h3>
	    I'm continuing to develop a "smart" sprinkler control system based
	    on a Raspberry PI, and 2 banks GPIO driven relays.  Hooked up to
	    the relays is the 24 volt transformer from an old donor sprinkler
	    controller, which in turn drive the individual valves.  These can
	    then be turned on/off from a web app, as well as automation taking
	    temperature, humidity, and rain-fall into account to adjust the
	    level of watering.  Source available at 
	    <a href=https://github.com/dhiltgen/sprinklers>github.com/dhiltgen/sprinklers</a>

<ul>
    <li>
        Raspberry PI's
        <div>
            I've built a number of raspberry PI's to do various tasks.
            Some are headless monitoring environmental sensors, others are
            hooked up to monitors and display NOC dashboards for Netkine.
        </div>
    </li>
    <li>
        Environmental Sensors (1-wire)
        <div>
            I've soldered up a number of 1-Wire based circuits from scratch for the
            PIs, and hooked them up to temperature, humidity and rain sensors to monitor
            the external and internal environment around our house.
        </div>
    </li>
</ul>
        </div>
    </div>
</div>
