<HTML>
<head>
<title>1974 Chevy Blazer - 1995 Camaro LT1 engine</title>
</head>

<body>
<h1>1974 Chevy Blazer with a 1995 Camaro LT1 engine</h1>


<a href="{{ .BlobPrefix }}/graphics/automotive/blazer/images/truck-as-purchased-large.jpg"><img src="{{ .BlobPrefix }}/graphics/automotive/blazer/images/truck-as-purchased-small.jpg" alt="As purchased (no mods yet)"></a>
<a href="{{ .BlobPrefix }}/graphics/automotive/blazer/images/truck-from-side-large.jpg"><img src="{{ .BlobPrefix }}/graphics/automotive/blazer/images/truck-from-side-small.jpg" alt="Truck from side"></a>
<a href="{{ .BlobPrefix }}/graphics/automotive/blazer/phase3/IMG_0664_med.jpg"><img src="{{ .BlobPrefix }}/graphics/automotive/blazer/phase3/IMG_0664_small.jpg"></a>
<a href="{{ .BlobPrefix }}/graphics/automotive/blazer/phase3/IMG_1114_med.jpg"><img src="{{ .BlobPrefix }}/graphics/automotive/blazer/phase3/IMG_1114_small.jpg"></a>
<a href="{{ .BlobPrefix }}/graphics/automotive/blazer/phase3/IMG_1111_med.jpg"><img src="{{ .BlobPrefix }}/graphics/automotive/blazer/phase3/IMG_1111_small.jpg"></a>
<a href="{{ .BlobPrefix }}/graphics/automotive/blazer/phase3/IMG_1660_med.jpg"><img src="{{ .BlobPrefix }}/graphics/automotive/blazer/phase3/IMG_1660_small.jpg"></a>
<a href="{{ .BlobPrefix }}/graphics/automotive/blazer/phase3/IMG_1662_med.jpg"><img src="{{ .BlobPrefix }}/graphics/automotive/blazer/phase3/IMG_1662_small.jpg"></a>

<p>

<b>Pictures:</b> most people want to get right to the pics.  Click on any
of the phases below to see pictures of that portion of the project.  The most
recent ones are at the top.
<p>
<hr>
<p>
This project is being tackled in a number of phases, each of which is
outlined below in reverse order

<p>

<b> Current Status:</b> In August of 2005 I overheated the engine while
climbing a steep grade behind folks driving way too slow (10mph) with no
turnouts to pull over in.  By the time I hit the top, it was too late,
and the head gaskets had fried.  (It's those darn aluminum heads on a
cast iron block... very easy to fry the gasket if you overheat)  Check
out <a href=heads/>the top-end rebuild.</a>

<p>
I'm in the process of installing On Board air so I can air up my tires,
and run air power tools. Check out the details at my <a href=air/>On
board air page</a>.

<hr>

<h3>Primary Stats:</h3>
<ul>
<li> 1974 Chevy Blazer (full convertible)
<li> 1995 Camaro V8 LT1 engine (~285hp)
<li> New Process 241C transfer case (electronic speed sensor)
<li> 3/4 ton GM front and rear end.
<li> GM 4L60E transmission (4x4 version from a truck)
<li> 4" Leaf lift in front
<li> Rear shackle flip and Revolver shackles (~4.5" lift in rear)
<li> 33x12.5x16.5 BFG AT KO tires.
<li> American Racing 589 rims (16.5")
<li> Custom front and rear drive shafts
<li> Power tailgate from ~90 blazer
<li> Fiberglass front and rear fenders with flared openings, and hood
<li> Roll cage
<li> Corbeau Racing seats
<li> 5 point racing harnesses
<li> (More to come...)
</ul>

<!--
<hr>
<h3>Phase 4: Off-road-ability</h3>

To "complete" the project (can a project like this ever be complete?) 
<ul>
<li> Long travel front shocks
<li> Air lockers front and rear
<li> Sway-bar disconnects
<li> Winch
<li> Air-compressor
</ul>
-->
<hr>
<h3><a href="phase3.html">Phase 3: Exterior</a></h3>

<ul>
<li> Replacement front door panels
<li> Fiberglass front clip and rear fenders to clean up rust
<li> Paint body exterior dark green
<li> Soft-top
<li> fresh bushings all around
<li> Replace almost all seals
<li> New front bumper
<li> New rear bumper
<li> Spray on bed-liner in the entire cab/bed area (Linex)
<li> Stainless braided lines and AN fittings
</ul>
<hr>
<h3><a href="phase2.html">Phase 2: Interior</a> (and minor drive train clean up)</h3> 

<ul>
<li> After-market cloth bucket seats, new rear bench
<li> Locking center console
<li> Re-hang doors, fresh door seals
<li> Softer rear springs (and shims for drive line angle problems)
<li> long travel rear shocks (custom mounts)
<li> Roll cage for cab
<li> Stereo
<li> Take care of steering box related frame crack
<li> Tailgate from late model Blazer with power window 
<li> Break adjustments (proportioning)
</ul>

<hr>

<!--
<h3><a href="phase21.html">Phase 2.1: Interior extras</a></h3> 

<ul>
<li> Dome light(s)
<li> Late model rear-view mirror with temp/compas
<li> re-appolster rear seat to match front seats
<li> Laptop and diag software
</ul>
-->


<hr>

<hr>
<h3><a href="phase1.html">Phase 1: Drive train</a></h3>

<b>Everything</b> is getting replaced, and I mean <b>everything</b>.

<ul>
<li> Engine: 1995 Camaro LT1 roughly 285 HP and 325 lb-ft
<li> Tranny: 4L60E computer controlled over-drive 4sp automatic (same core as the Camaro but a truck version
	that bolts to a transfer case. 
<li> TC: NP-241C 
<li> Back end: GM 14 bolt from a 3/4 ton 
<li> Front end: from a 3/4 ton GM truck.  
<li> Custom drive shafts
<li> 33x12.5x16.5 BFG All-terrain tires
<li> American Eagle 589 16.5" rims (8 lug pattern)
<li> Rear Shackle flip
<li> Revolver rear shackles
</ul>

Phase 1 was started on 08/23/2000 after much research, and is 
complete.  Total cost was roughly $10,000.


<hr>

<h3>Phase 0: Acquisition</h3>

The truck was purchased in Sacramento CA on 08/03/2000.  The engine
blew about 30 minutes after I started to drive home.   Dohp!  Oh well,
I have much larger plans for the truck anyway.  The engine floated
a valve in Galt on 99 south, roughly 30 minutes away from where I
bought it.  It was towed to the bay area the next day on a flat bed.
I had hoped to drive it for a few months before starting phase 1, but the
engine problems stepped up the schedule.  The failure probably could be
fixed for a minimal cost but I'd rather not pour money into drive train
parts that I don't intend to keep.  <p> As purchased the truck had a 4"
suspension lift, 3" body lift, and 39" tires that rubbed.  The body lift
and tires were removed immediately.
<p>

<a href="{{ .BlobPrefix }}/graphics/automotive/blazer/images/truck-as-purchased-large.jpg"><img src="{{ .BlobPrefix }}/graphics/automotive/blazer/images/truck-as-purchased-small.jpg" alt="As purchased (no mods yet)"></a>
<a href="{{ .BlobPrefix }}/graphics/automotive/blazer/images/with-body-lift.jpg"><img src="{{ .BlobPrefix }}/graphics/automotive/blazer/images/with-body-lift-small.jpg" alt="With body lift"></a>
<a href="{{ .BlobPrefix }}/graphics/automotive/blazer/images/without-body-lift.jpg"><img src="{{ .BlobPrefix }}/graphics/automotive/blazer/images/without-body-lift-small.jpg" alt="Without body lift"></a>
<p>
..and now<br>

<a href="{{ .BlobPrefix }}/graphics/automotive/blazer/images/truck-from-side-large.jpg"><img src="{{ .BlobPrefix }}/graphics/automotive/blazer/images/truck-from-side-small.jpg" alt="Truck from side"></a>

<br>
Keep in mind I haven't gotton to the exterior aesthetics yet... That's
phase 3, which probably wont start until spring or summer of 2001.
I'm focusing on the drive-train and interior first.


<hr>
<a href="../">Back to my automotive page</a> <a href="/daniel/">To my top level home page</a>
</body>
</html>
