<HTML>
<head>
<title>1974 Chevy Blazer - 1995 Camaro LT1 engine</title>
</head>

<body>
<h1>Phase 2.1: Interior Extras</h1>

Once I'm done with the main phase 2 interior work I'll put these finishing touches
on the interior.


<hr>
<h3> Replacement front door panels </h3>
The existing door trim panels are either origonal, or very close to it.
They're a mess.  Sun baked, disintegrating, and ugly.  I'm not sure
exactly what I'll replace them with, but probably panels from a wrecking
yard from a much more recent truck.


<hr>
<h3> Dome light(s) </h3>
There are no lights in the truck right now, which makes finding stuff at
night a pain.  I've got a flashlight in the center console, but that's
not a workable solution.  Ideally I want to come up with something that
works with the top off as well, so I'll either integrate it into the
roll cage, or the kick panels.

<hr>
<h3> Late model rear-view mirror with temp/compas </h3>
One thing I love about more modern cars is the exterior temp guage.
I head to Tahoe, and knowing when the road is freezing is a big win.
I'm going to install a temp/compas rear view mirror in the truck as it
wont require any funky hacks in the dash and should be a nice clean way
to get a temp guage in the truck.

<hr>
<h3> re-appolster rear seat to match front seats </h3>
The folding rear seat I've installed is an old crappy blue cloth one.
I want to re-appolster it with a matching fabric to the front seat.

<hr>
<h3> Laptop and diag software </h3>
Once of the great things about the 94-95 Chevy LT1 engine is the PCM
engine control compter can be hacked/controlled by consumers fairly
easily.  There are multiple near-free software apps that will allow
you to get real-time data, as well as modify various aspects of the
computers behavior.  Given that I'm a software guy myself, this is a
big win.  I'm looking into getting a lower-end laptop and semi-perminently
installing it in the truck.  I'll then be able to do real-time diagnostics
if anything should happen, see how things are going, amuse paseengers
by telling them the advance, temps, you name it.  I'll also be able to
use the laptop for other uses, possibly MP3 playing, etc.


<hr>
<a href="../">Back to my automotive page</a> <a href="/~dhiltgen/">To my top level home page</a>

</body>
</html>
