<HTML>
<head>
<title>1974 Chevy Blazer - 1995 Camaro LT1 engine</title>
</head>

<body>
<h1>Phase 2: Interior</h1>

I drive the truck to work a few days a week and it's running great.
It gets about 12 MPG, so it's a little expensive to drive everyday,
but it's a blast to drive.  Tons of power and the convertible is great
during the summer!


<p>
It turns out that the 4L60E I have is not quite the same as a Camaro.
The Torque Converter lockup mechanism is different.  In a Camaro, two
solenoids are used (on/off and pulse-width-modulated), but my tranny
only has one simple one. (on/off)  As a result, the camaro computer is
setting a code indicating a solenoid failure and according to the shop
manual, is disabling the lockup entirely.  I'm still not sure exactly
how to resolve this one.  More research required...


<hr>
<h3>Tailgate (Done)</h3>

The stock tailgate with the manual window crank was broken.  A power window
tailgate from a wrecking yard was installed.  The glass from my
old tailgate was installed (the wrecking yard gate had a broken window).
I picked the gate up for free; I just traded my old drive train, minus
the old engine for it.  Installation went pretty smoothly.  The switch
that is normally installed on the dash between the stereo and ash tray was
instead installed in my center console.
<br>
<a href="rear-end-no-top-large.jpg"><img src="rear-end-no-top-small.jpg"></a>

<hr>
<h3>Driver door (Done)</h3>

The driver door was quite a mess.  The window wouldn't stay on
it's track and had to be helped to roll up.  The door wasn't hung strait
and hit the door sill whenever you closed it, so the paint was totally worn
off in the door jamb.

<p>
Simple solution.  The door was removed and the hinges were re-mounted to 
take out the slack of the worn joints.  The window guide rails were missing
a few bolts, and were bent so they were bent back into shape.  Much
better now.

<hr>
<h3>Softer Rear Springs (Done)</h3>

The stock rear springs on the truck were <b>very</b> stiff.  Great for
towing, but horrible on bumpy roads or for long drives.  Since I'm
not planning on towing, and I want articulation and a nice road ride,
I installed some ~90 Blazer rear springs.  They have the rubber sliders
in between the leafs and are quite a bit softer metal.  I also removed
the overload spring for added travel, and installed a 4 degree shim to
help resolve some of the drive line angle problems.  (Much smoother
at 70-80mph now.)  

<hr>
<h3>Steering box and frame crack (Done)</h3>

As is common on this generation of Chevy trucks, the frame was cracked
by the steering box and had to be welded.  I recently purchased a small
MIG welder, brushed up on my welding skills and took care of this myself.
After market shaped steel plates were welded in to increase the strength, 
although with 33" tires it's probably overkill.
<p>
With the steering gear box removed, you can see the cracks.  The most obvious
one is on the lower rear bolt hole (lower right) and a less obvious one is on the upper
front bolt hole.
<br>
<a href="frame-crack-1-large.jpg"><img src="frame-crack-1-small.jpg" alt="Steering box frame crack"></a>
<p>
The steel plates were welded on (after filling the cracks and welding them individually)
<br>

<a href="frame-crack-3-large.jpg"><img src="frame-crack-3-small.jpg" alt="Steering box frame crack"></a>

<p>
I was also having problems with the power steering gear box.  It was
obviously a mess on the inside.  The gear box was replaced with a
reman. unit and things are much better now.  My power steering pump
seems to have suffered a little, as it makes a little more noise now,
but it's livable.

<hr>
<h3>Steering column/wheel (Done)</h3>

Some prior owner had put on a cheap after market steering wheel, which had
not stood up very well.  The foam grip was disintegrating and the bolts 
that held it on were rusting.  To bring the truck up to a more modern standard
I installed a late model tilt column with cruise control and intermittent
wipers.  For now the wipers are still just off-low-high but I might look
at replacing the whole unit as it's fairly tired anyway.  I also installed
an early 90's steering wheel (pre-air-bag of course.)  The steering is
getting <b>much</b> better now!

<p>
Below is a picture of the old seats and steering column.
<p>
<a href="old-cab-large.jpg"><img src="old-cab-small.jpg" alt="Old seats/steeringcolumn"></a>

<p>
And the new steering wheel/column:<br>
<a href=tilt-wheel-large.jpg><img src=tilt-wheel-small.jpg></a>

<hr>
<h3>Roll cage (Mostly done)</h3>

Safety is definitely a high priority on this truck, so a full cage
is being built for the cab.  I've purchased the parts from Smittybuilt.
They sell a bolt in roll bar for the bed and a weld in cage kit that adds
on to the roll bar.  I've put together these core parts for the cage as
you can see from the picture below.  The only thing I still have to add to
"finish" the cage is some extra spreader bars running from the lower front
corners to the roll bar lower section, to prevent side impact collapse.
Also, I need to put an inner spreader to make the upper race harness
mounts so they are properly aligned.  Right now the sholder straps are
at too steep of an angle to be very effective in an accident.  I plan to weld
in a new bar slightly lower to mount the sholder straps on.
<p>
<a href="roll-cage-large.jpg"><img src="roll-cage-small.jpg" alt="Roll cage assembly"></a>

<hr>
<h3>Front Seats and Restraints </h3>

I've installed some <a href="http://www.corbeau.com/brochure/targa_RS.html">
Corbeau Targa RS</a>
seats along with 5 point racing harnesses.  I wasn't totally satisfied
with the brackets/sliders that came with the seats for the blazer.
They tilt forward (the front of the seat is below the back and "leans"
you forward.  I prefer to sit with my but below my knees so I've re-built
the brackets.  The new brackets also have the added benifit of roughly
1 cubic foot volume and house a 10" woofer each.  I'm still putting the
finishing touches on them and should get some pictures before too long.

<p>
<a href="front-seats-large.jpg"><img src="front-seats-small.jpg"></a>
<a href="front-seats-2-large.jpg"><img src="front-seats-2-small.jpg"></a>
<a href="front-seats-3-large.jpg"><img src="front-seats-3-small.jpg"></a>
<a href="front-seats-4-large.jpg"><img src="front-seats-4-small.jpg"></a>
<a href="front-seats-and-dash-2-large.jpg"><img src="front-seats-and-dash-2-small.jpg"></a>
<a href="front-seats-and-dash-large.jpg"><img src="front-seats-and-dash-small.jpg"></a>

<p>
The new mounts/speaker box:<br>
<a href=speaker-box-front-large.jpg><img src=speaker-box-front-small.jpg></a>
<a href=speaker-box-large.jpg><img src=speaker-box-small.jpg></a>

<p>
And the new back seat:<br>
<a href="back-seat-large.jpg"><img src="back-seat-small.jpg"></a>

<hr>
<h3>Center Console (Done)</h3>

I've installed a <a href="http://www.tuffyproducts.com/">Tuffy</a>
Deluxe stereo console so that I can leave the top off all summer and
not worry about my stereo or valuables getting stolen.
<p>
The stereo is mounted in the console, along with a few other
misc. switches so that I can reach them with the racing harness on. (only
tailgate window switch so far)  The CD changer is inside, along with
the EQ display.

<p>
<a href="center-console-closed-large.jpg"><img src="center-console-closed-small.jpg"></a>

<hr>
<h3>Shocks (Done)</h3>

Here's a rough CAD drawing of the basic design I used.  A 2-3"
tube was welded in between the frame rails just above and in front of the rear axle
and contains three bolts.  Two for the top mounts of the shocks and
a third for a limiting strap.  The lower shock mounts are welded to
the front of the axle tubes.  I'll use a set of Rancho RS-9012 shock, which 
have a min of 18.94" and a max of 32.91"  (Pretty darn close to my design)

<p>
<img src="rear-end.jpg" alt="rear end shock design">
<p>
And here are some shots of the final product.
<br>
<a href="custom-shocks-lower-large.jpg"><img src="custom-shocks-lower-small.jpg" alt="Custom lower shock mounts"></a><br>
<a href="custom-shocks-upper-large.jpg"><img src="custom-shocks-upper-small.jpg" alt="Custom upper shock mounts"></a><br>


<a href="rear-shocks-from-back-large.jpg"><img src="rear-shocks-from-back-small.jpg"></a>
<!--rear-shocks-top-from-front-2.jpg
rear-shocks-top-from-front-3.jpg-->
<a href="rear-shocks-top-from-front-llarge.jpg"><img src="rear-shocks-top-from-front-small.jpg"></a>
<a href="rear-shocks-top-large.jpg"><img src="rear-shocks-top-small.jpg"></a>

<hr>
<h3>Stereo (Done)</h3>

I have an Alpine system left over from my <a href="../4runner/">4Runner
project</a> and I've installed most of those components in this truck.
The deck and changer are in the center console so I can lock them up in the summer
when the top is off.  The amps are in custom kick-panels in the rear, in front
of the rear wheel wells.  I've got two-way seperates in the front, and two-ways
in the rear, and two 10" woofers, one under each front seat.

<p>
<a href="center-console-open-large.jpg"><img src="center-console-open-small.jpg"></a>


<hr>
<h3>Brakes (Mostly done)</h3>

I've installed an adjustable proportioning valve to adjust the bias
between front and rear.  Turns out the stock prop. valve was sending far
too much power to the back end and the truck was extremely eager to lock
up the rear tires.  The driver side rear tire still seems to lock up faster than
the rest, but it's much better.  (Still have to figure out what's up with
that)  I think the problem is probably the front-breaks, in that they
aren't as effective as they should be.  I'll probably need to have them
rebuilt, or pick-up some reman' ones.


<hr>
<a href="../">Back to my automotive page</a> <a href="/daniel/">To my top level home page</a>

</body>
</html>
