<HTML>
<head>
<title>1974 Chevy Blazer - 1995 Camaro LT1 engine</title>
</head>

<body>
<h1>Phase 3: Final aesthetics</h1>

<h3>Sand-blast interior</h3>
The interior of the truck was more rusty than I would like. There were
quite a few small holes developing on the driver side floor that if left
alone, would have inlarged and made for an interesting drive.  I opted
to sand-blast the entire interior and primer it in preparation for the
body shop.  Let me tell you, sand-blasting takes forever!  It's very
slow going, but the results are quite impressive.

<p>
<a href="phase3/dsc00001.jpg"><img src="phase3/dsc00001_small.jpg" alt=""></a>
<a href="phase3/dsc00035.jpg"><img src="phase3/dsc00035_small.jpg" alt=""></a>
<a href="phase3/dsc00036.jpg"><img src="phase3/dsc00036_small.jpg" alt=""></a>
<a href="phase3/dsc00037.jpg"><img src="phase3/dsc00037_small.jpg" alt=""></a>
<a href="phase3/dsc00039.jpg"><img src="phase3/dsc00039_small.jpg" alt=""></a>
<a href="phase3/dsc00040.jpg"><img src="phase3/dsc00040_small.jpg" alt=""></a>
<a href="phase3/dsc00041.jpg"><img src="phase3/dsc00041_small.jpg" alt=""></a>
<a href="phase3/dsc00042.jpg"><img src="phase3/dsc00042_small.jpg" alt=""></a>
<a href="phase3/dsc00043.jpg"><img src="phase3/dsc00043_small.jpg" alt=""></a>
<a href="phase3/dsc00045.jpg"><img src="phase3/dsc00045_small.jpg" alt=""></a>
<a href="phase3/dsc00046.jpg"><img src="phase3/dsc00046_small.jpg" alt=""></a>
<a href="phase3/dsc00047.jpg"><img src="phase3/dsc00047_small.jpg" alt=""></a>
<a href="phase3/dsc00048.jpg"><img src="phase3/dsc00048_small.jpg" alt=""></a>

<h3>Front clip</h3>
I was initially planning on installing an 88-91 Blazer or Suburban front
clip, but discovered online that fibreglass shops were making custom
fendors/hoods that would convert the older body to a 99 style front-end!
While it has been fairly costly (all told, probably about $2000, not
including the paint) the end result is quite impressive.
<p>
The fiber glass fenders from Glassworks Unlimited in Huntington Beach CA.
<a href=http://glassworksunlimited.com/gu57.shtml>Rear fenders</a>  and the 
<a href=http://glassworksunlimited.com/gu56.shtml>Front clip</a>.  I then bought a late 90's radiator support from a wrecking yard, to support it all.  (The old frame is a different width than the newer frames, so you have to modify it a bit (weld some plate steel in, and drill a new hole for the body mount bolts)

<p>

<a href="phase3/dsc00049.jpg"><img src="phase3/dsc00049_small.jpg" alt=""></a>
<a href="phase3/dsc00050.jpg"><img src="phase3/dsc00050_small.jpg" alt=""></a>
<a href="phase3/dsc00056.jpg"><img src="phase3/dsc00056_small.jpg" alt=""></a>
<a href="phase3/dsc00057.jpg"><img src="phase3/dsc00057_small.jpg" alt=""></a>
<a href="phase3/dsc00060.jpg"><img src="phase3/dsc00060_small.jpg" alt=""></a>
<a href="phase3/dsc00061.jpg"><img src="phase3/dsc00061_small.jpg" alt=""></a>
<a href="phase3/willy-1-large.jpg"><img src="phase3/willy-1-small.jpg" alt=""></a>
<a href="phase3/willy-2-large.jpg"><img src="phase3/willy-2-small.jpg" alt=""></a>
<a href="phase3/willy-5-large.jpg"><img src="phase3/willy-5-small.jpg" alt=""></a>
<a href="phase3/willy-3-large.jpg"><img src="phase3/willy-3-small.jpg" alt=""></a>
<a href="phase3/willy-4-large.jpg"><img src="phase3/willy-4-small.jpg" alt=""></a>
<a href="phase3/IMG_0438_med.jpg"><img src="phase3/IMG_0438_small.jpg" alt=""></a>
<a href="phase3/IMG_0437_med.jpg"><img src="phase3/IMG_0437_small.jpg" alt=""></a>
<a href="phase3/IMG_0437_med.jpg"><img src="phase3/IMG_0437_small.jpg" alt=""></a>
<a href="phase3/IMG_0584_med.jpg"><img src="phase3/IMG_0584_small.jpg" alt=""></a>
<a href="phase3/IMG_0585_med.jpg"><img src="phase3/IMG_0585_small.jpg" alt=""></a>
<a href="phase3/IMG_0586_med.jpg"><img src="phase3/IMG_0586_small.jpg" alt=""></a>
<a href="phase3/IMG_0611_med.jpg"><img src="phase3/IMG_0611_small.jpg" alt=""></a>
<a href="phase3/IMG_0612_med.jpg"><img src="phase3/IMG_0612_small.jpg" alt=""></a>
<a href="phase3/IMG_0613_med.jpg"><img src="phase3/IMG_0613_small.jpg" alt=""></a>




<h3>Paint</h3>

On May 1st 2004 the blazer returned with a fresh coat of 1996 Corvette
dark green paint!  Ooh yeah!
<br>

<a href="phase3/IMG_0614_med.jpg"><img src="phase3/IMG_0614_small.jpg" alt=""></a>
<a href="phase3/IMG_0615_med.jpg"><img src="phase3/IMG_0615_small.jpg" alt=""></a>
<a href="phase3/IMG_0616_med.jpg"><img src="phase3/IMG_0616_small.jpg" alt=""></a>
<a href="phase3/IMG_0617_med.jpg"><img src="phase3/IMG_0617_small.jpg" alt=""></a>
<a href="phase3/IMG_0618_med.jpg"><img src="phase3/IMG_0618_small.jpg" alt=""></a>
<a href="phase3/IMG_0619_med.jpg"><img src="phase3/IMG_0619_small.jpg" alt=""></a>
<a href="phase3/IMG_0620_med.jpg"><img src="phase3/IMG_0620_small.jpg" alt=""></a>
<a href="phase3/IMG_0621_med.jpg"><img src="phase3/IMG_0621_small.jpg" alt=""></a>
<a href="phase3/IMG_0622_med.jpg"><img src="phase3/IMG_0622_small.jpg" alt=""></a>
<a href="phase3/IMG_0623_med.jpg"><img src="phase3/IMG_0623_small.jpg" alt=""></a>
<a href="phase3/IMG_0624_med.jpg"><img src="phase3/IMG_0624_small.jpg" alt=""></a>
<a href="phase3/IMG_0625_med.jpg"><img src="phase3/IMG_0625_small.jpg" alt=""></a>
<a href="phase3/IMG_0626_med.jpg"><img src="phase3/IMG_0626_small.jpg" alt=""></a>
<a href="phase3/IMG_0653_med.jpg"><img src="phase3/IMG_0653_small.jpg" alt=""></a>
<a href="phase3/IMG_0654_med.jpg"><img src="phase3/IMG_0654_small.jpg" alt=""></a>
<a href="phase3/IMG_0655_med.jpg"><img src="phase3/IMG_0655_small.jpg" alt=""></a>
<a href="phase3/IMG_0656_med.jpg"><img src="phase3/IMG_0656_small.jpg" alt=""></a>
<a href="phase3/IMG_0657_med.jpg"><img src="phase3/IMG_0657_small.jpg" alt=""></a>
<a href="phase3/IMG_0658_med.jpg"><img src="phase3/IMG_0658_small.jpg" alt=""></a>
<a href="phase3/IMG_0659_med.jpg"><img src="phase3/IMG_0659_small.jpg" alt=""></a>
<a href="phase3/IMG_0660_med.jpg"><img src="phase3/IMG_0660_small.jpg" alt=""></a>
<a href="phase3/IMG_0661_med.jpg"><img src="phase3/IMG_0661_small.jpg" alt=""></a>
<a href="phase3/IMG_0662_med.jpg"><img src="phase3/IMG_0662_small.jpg" alt=""></a>
<a href="phase3/IMG_0663_med.jpg"><img src="phase3/IMG_0663_small.jpg" alt=""></a>
<a href="phase3/IMG_0664_med.jpg"><img src="phase3/IMG_0664_small.jpg" alt=""></a>

<p>
<b>Reassembly</a><br>

<a href="phase3/IMG_0869_med.jpg"><img src="phase3/IMG_0869_small.jpg" alt=""></a>
<a href="phase3/IMG_0870_med.jpg"><img src="phase3/IMG_0870_small.jpg" alt=""></a>
<a href="phase3/IMG_1012_med.jpg"><img src="phase3/IMG_1012_small.jpg" alt=""></a>

<a href="phase3/IMG_1013_med.jpg"><img src="phase3/IMG_1013_small.jpg" alt=""></a>

<a href="phase3/IMG_1030_med.jpg"><img src="phase3/IMG_1030_small.jpg" alt=""></a>

<a href="phase3/IMG_1031_med.jpg"><img src="phase3/IMG_1031_small.jpg" alt=""></a>

<a href="phase3/IMG_1032_med.jpg"><img src="phase3/IMG_1032_small.jpg" alt=""></a>

<a href="phase3/IMG_1033_med.jpg"><img src="phase3/IMG_1033_small.jpg" alt=""></a>

<a href="phase3/IMG_1034_med.jpg"><img src="phase3/IMG_1034_small.jpg" alt=""></a>

<a href="phase3/IMG_1035_med.jpg"><img src="phase3/IMG_1035_small.jpg" alt=""></a>

<a href="phase3/IMG_1036_med.jpg"><img src="phase3/IMG_1036_small.jpg" alt=""></a>



<a href="phase3/IMG_1039_med.jpg"><img src="phase3/IMG_1039_small.jpg" alt=""></a>

<a href="phase3/IMG_1040_med.jpg"><img src="phase3/IMG_1040_small.jpg" alt=""></a>

<a href="phase3/IMG_1047_med.jpg"><img src="phase3/IMG_1047_small.jpg" alt=""></a>

<a href="phase3/IMG_1127_med.jpg"><img src="phase3/IMG_1127_small.jpg" alt=""></a>

<a href="phase3/IMG_1128_med.jpg"><img src="phase3/IMG_1128_small.jpg" alt=""></a>
<a href="phase3/IMG_1124_med.jpg"><img src="phase3/IMG_1124_small.jpg" alt=""></a>

<h3>Bed liner in cab</h3>

The entire cab interior (minus dash and doors) has been sprayed with linex.
<br>
<a href="phase3/IMG_0871_med.jpg"><img src="phase3/IMG_0871_small.jpg" alt=""></a>
<a href="phase3/IMG_0872_med.jpg"><img src="phase3/IMG_0872_small.jpg" alt=""></a>
<a href="phase3/IMG_0873_med.jpg"><img src="phase3/IMG_0873_small.jpg" alt=""></a>
<a href="phase3/IMG_1037_med.jpg"><img src="phase3/IMG_1037_small.jpg" alt=""></a>
<a href="phase3/IMG_1038_med.jpg"><img src="phase3/IMG_1038_small.jpg" alt=""></a>

<h3>Soft top</h3>

I purchased a soft top from Specialty Top Company in Colorado.  I went for the Tan top, with tinted windows to compliment the dark green exterior.  Putting the top on wasn't too bad.  It was a little cold when I did it, so the top was a little tight and took a bit of work to stretch out and fit.
<p>

<a href="phase3/IMG_1111_med.jpg"><img src="phase3/IMG_1111_small.jpg" alt=""></a>
<a href="phase3/IMG_1112_med.jpg"><img src="phase3/IMG_1112_small.jpg" alt=""></a>
<a href="phase3/IMG_1113_med.jpg"><img src="phase3/IMG_1113_small.jpg" alt=""></a>
<a href="phase3/IMG_1114_med.jpg"><img src="phase3/IMG_1114_small.jpg" alt=""></a>


<a href="phase3/IMG_1123_med.jpg"><img src="phase3/IMG_1123_small.jpg" alt=""></a>


<a href="phase3/IMG_1125_med.jpg"><img src="phase3/IMG_1125_small.jpg" alt=""></a>




<h3>Vent windows</h3>
I've replaced all the seals on the vent windows and completely rebuilt them
as they were getting rather worn and tired.
<p>
<a href="phase3/IMG_0874_med.jpg"><img src="phase3/IMG_0874_small.jpg" alt=""></a>

<h3>Bumpers</h3>

I was going to put a Reunel bumper on the truck but they don't 
make a rear bumper for the older blazers, and their front bumper
weighs a *ton*.  After doing some research, I decided to go the custom tube bumper route and came up with my own design.  I'm not too bad at welding, but I don't have access to a tube bender (and can't quite justify the cost of buying one, just yet.) so I opted to have a local custom fab shop build my design.  The shop is <a href=http://www.wickedfabrication.com/>Wicked Fabrication</a> and the two bumpers cost about $1200 to put together.  I'm running a 9000lb winch up front, and the rear bumper hides a 6000lb winch as well.
<p>
<a href="phase3/IMG_1150_med.jpg"><img src="phase3/IMG_1150_small.jpg" alt=""></a>

<a href="phase3/IMG_1151_med.jpg"><img src="phase3/IMG_1151_small.jpg" alt=""></a>

<a href="phase3/IMG_1152_med.jpg"><img src="phase3/IMG_1152_small.jpg" alt=""></a>
<br>
<a href="phase3/IMG_1660_med.jpg"><img src="phase3/IMG_1660_small.jpg" alt=""></a>
<a href="phase3/IMG_1661_med.jpg"><img src="phase3/IMG_1661_small.jpg" alt=""></a>
<a href="phase3/IMG_1662_med.jpg"><img src="phase3/IMG_1662_small.jpg" alt=""></a>
<a href="phase3/IMG_1663_med.jpg"><img src="phase3/IMG_1663_small.jpg" alt=""></a>

<h3>Bushings</h3>

I've replaced the body mounts, as they were worn out, and will be replacing
the spring/shock bushings as well.
<hr>
<a href="../">Back to my automotive page</a> <a href="/daniel/">To my top level home page</a>

</body>
</html>
