<HTML>
<head>
<title>1974 Chevy Blazer - 1995 Camaro LT1 engine</title>
</head>

<body>
<h1>Phase 1: Drive train</h1>

The first step was to get rid of the old engine. <br>

<a href="images/old-engine-1-large.jpg"><img src="images/old-engine-1-small.jpg" alt="Old engine"></a>
<a href="images/old-engine-2-large.jpg"><img src="images/old-engine-2-small.jpg" alt="Old engine"></a>
<a href="images/engine-compartment-empty-large.jpg"><img src="images/engine-compartment-empty-small.jpg" alt="After pulling old engine"></a>


<h3>Engine</h3>
1995 Camaro LT1 roughly 285 HP and 325 lb-ft (43k miles)
<p>
The replacement engine was purchased from <a href="http://www.gmsports.com/">GM
Sports Salvage</a> in San Jose for $3000.  The vehicle was an automatic (4L60E tranny) and was involved in an accident that
only damaged the rear portion of the car.  All engine compartment components were intact.  The water pump was shot but was replaced under warranty.

<br>
<a href="images/engine-in-truck-large.jpg"><img src="images/engine-in-truck-small.jpg" alt="Engine in truck (The fan is an 87, the engine is a 95)"></a>
<a href="images/engine-from-rear-large.jpg"><img src="images/engine-from-rear-small.jpg" alt="Engine from rear"></a>
<a href="images/engine-from-left-rear-large.jpg"><img src="images/engine-from-left-rear-small.jpg" alt="Engine from left rear"></a>
<a href="images/engine-from-left-front-large.jpg"><img src="images/engine-from-left-front-small.jpg" alt="Engine from front left"></a>
<a href="images/engine-from-right-front-large.jpg"><img src="images/engine-from-right-front-small.jpg" alt="Engine from right front"></a>
<a href="images/engine-from-right-rear-large.jpg"><img src="images/engine-from-right-rear-small.jpg" alt="Engine from right rear"></a>
<p>

After I got the engine, the next step was to work my way through the wiring harnesses and sort everything out.  The shop manual from GM was
absolutely essential in doing this, but it wasn't really all that hard.  I spent the equivilent of about two days working on the wiring discovery.
The key task was removing all non essential components and retaining everything else.  The ABS system along with air-bags were removed.  All other
engine/lighting wires were retained.  The Blazers harness and fuse block was removed.  In fact, the only wiring that remains stock
in the blazer is the harness running to the tail lights and the ventalation system.  Everythign else is Camaro now.
<p>

The following shots show the wiring harnesses as they were being pulled appart (split-loom removed) and also show the tranny/transfercase in place, 
as these were both part of the wiring work (computer controlled tranny and electronic speed sensor on the TC) 
<br>
<a href="images/engine-wiring-left-front-large.jpg"><img src="images/engine-wiring-left-front-small.jpg" alt="Engine left front"></a>
<a href="images/engine-wiring-from-right-side-large.jpg"><img src="images/engine-wiring-from-right-side-small.jpg" alt="Engine from right side"></a>
<a href="images/engine-wiring-left-rear-large.jpg"><img src="images/engine-wiring-left-rear-small.jpg" alt="Engine left rear"></a>
<p>

One of the interesting mods I had to perform was the AC compressor.  On the Camaros, it's mounted low on the passenger side
of the engine.  This wont fit within the frame of a truck.  Since I don't intend to run AC in the truck, I opted to pull the AC
and modify the tensioner pully to change the path of the belt to clear everything.  I was able to drill the mounting bracket of the
tensioner pully so that I could mount it to one of the old AC bracket holes, and with some spacers and a long bolt it
worked great.
<p>
<a href="images/pully-before-large.jpg"><img src="images/pully-before-small.jpg" alt="Pully before modifications (no AC installed)"></a>
<a href="images/pully-after-large.jpg"><img src="images/pully-after-small.jpg" alt="Pully after modification"></a>

<p>
Prior to installing the new engine I made sure to clean up the engine compartment and tranny tunnel.  25 years of grime can
be pretty thick.  I rented a steam cleaner and made a nice little mess in the driveway, and all over myself. 

<p>
<a href="images/greasy-large.jpg"><img src="images/greasy-small.jpg" alt="Daniel gets messy"></a>

<p>
And after the install...<br>

<a href="images/new-engine-installed-large.jpg"><img src="images/new-engine-installed-small.jpg" alt="New engine installed in truck"></a>
<a href="images/new-engine-installed-from-side-large.jpg"><img src="images/new-engine-installed-from-side-small.jpg" alt="New engine installed from side"></a>


<p>
On 9/18/00 @ 8:25pm the engine was started in the truck.  Two days later
I drove it down the street for the first time.

<h3>Tranny</h3> 
4L60E computer controlled over-drive 4sp automatic (same core as the
Camaro but a truck version that bolts to a transfer case.  This was
purchased from Santa Clara Truck Wreckers as part of a package deal.
The tranny, transfer case, front and rear ends were $2600.

<h3>Transfer-case</h3> 
NP-241C from Santa Clara Truck Wreckers

<h3>Front/Back end</h3>
GM 14 bolt rear from a 3/4 ton and matching front end from Santa Clara
Truck Wreckers

<br>Rear Shackle flip from <a href="http://www.wyojeep.com">Metal Made Rite</a>
<br>Revolver rear shackles from <a href="http://www.offroaddesign.com">Offroad Design</a>
<p>
Before...<br>
<a href="images/before-shackle-flip-large.jpg"><img src="images/before-shackle-flip-small.jpg" alt="Before the shackle flip/revolver install"></a>
<p>
After...<br>
<a href="images/shackle-flip-large.jpg"><img src="images/shackle-flip-small.jpg" alt="After shackle flip"></a>
<a href="images/shackle-flip-close-large.jpg"><img src="images/shackle-flip-close-small.jpg" alt="Close up of shackle flip"></a>

<p>
And the axle swap...<br>
<a href="images/axles-in-truck-large.jpg"><img src="images/axles-in-truck-small.jpg" alt="New axles"></a>
<a href="images/front-axle-install-large.jpg"><img src="images/front-axle-install-small.jpg" alt="Installing New axles"></a>
<a href="images/front-axle-install-2-large.jpg"><img src="images/front-axle-install-2-small.jpg" alt="Installing New axles (2)"></a>
<a href="images/front-axle-install-3-large.jpg"><img src="images/front-axle-install-3-small.jpg" alt="Installing New axles (3)"></a>

<p>
<a href="phase3/IMG_1143_med.jpg"><img src="phase3/IMG_1143_small.jpg" alt=""></a>

<a href="phase3/IMG_1144_med.jpg"><img src="phase3/IMG_1144_small.jpg" alt=""></a>

<a href="phase3/IMG_1145_med.jpg"><img src="phase3/IMG_1145_small.jpg" alt=""></a>

<a href="phase3/IMG_1146_med.jpg"><img src="phase3/IMG_1146_small.jpg" alt=""></a>

<a href="phase3/IMG_1147_med.jpg"><img src="phase3/IMG_1147_small.jpg" alt=""></a>

<a href="phase3/IMG_1148_med.jpg"><img src="phase3/IMG_1148_small.jpg" alt=""></a>

<a href="phase3/IMG_1149_med.jpg"><img src="phase3/IMG_1149_small.jpg" alt=""></a>

<h3>Custom drive shafts</h3>
Purchase from <a href="http://www.sbdriveline.com/">South Bay
Driveline</a>.  Unfortunatly, the rear shaft has a U-joint that isn't
going to be able to handle the angle, so I'm going to have to have
it re-done.  Big bummer.

<h3>Wheels and tires</h3>
Combo package purchased from <a href="http://www.4wheelparts.com/">4Wheel parts Wholesalers</a>.
33x12.5x16.5 BFG All-terrain tires on
American Eagle 589 16.5" rims (8 lug pattern)

<br> I could definitly run larger tires, but I'm trying to go for
articulation as well as half-decent highway mileage.  I'll might get
a set of 35" mudder tires at some point...

<h3>Misc.</h3>
<ul>
<li> Custom power steering hose. (Royal Brass in San Jose)
<li> High pressure fuel pump/filter AC/Delco
<li> Custom hose work to hook up the fuel pump.  Mostly from
     the Camaro, but some magic from NAPA auto parts.
<li> Cleaned and flushed the fuel tank
<li> Fuel return line into tank (drill, pipe fittings, silicon)
<li> Completely replaced wiring.  Only things left that are stock '74 chevy
     are the rear light harness, the HVAC controls, and the steering column.
	  Fuse block and relays are from the Camaro.
<li> Rust removal in the cab.  Driver floor has a few small holes but
     other than that its not too bad.  The fenders have a bit but that
     will be dealt with on phase 3.
<li> Removal of after-market carpet kit
<li> Replacement of dash pad with "boxy" late model version
<li> Replacement of instrument cluster with electronic version
     from late model Suburban.  It works with the sending unit from the T-case, and the camaro
     computer is happy with it.  (One of the variables I was unsure of going in to the project.)
<li> Autometer tach.
<li> T-case shifter from the donner truck that provided the T-case.
<li> B&M Light truck megashifter. (Tight fitting with the T-case shifter while leaving
	  space for a future center console.)
<li> Aftermarket performance air filter.
<li> New cross-member / tranny mount that has sufficient clearance for
     the front drive shaft with the NP-241C.  (Quite a bit lower than
     the NP-203 that the truck had)
<li> I'll need to come up with some sort of skid-plate for the t-case as it droops pretty low
	  and could get bashed hard on rocks while wheeling.
<li> Slip-shaft eliminator kit for the NP-241C transfer case.  Had I known I would need this
     I probably would have tried to find another type of T-case for this application.
     The only catch was that I needed the electronis speed sensor,
     so the 241 may have been my only choice anyway...  The basic problem was that with
	  the revolver shackles, the angle that the rear drive shaft had
	  to perform at was too much for the standard shaft used on the
	  241 with a tail house slip shaft.  To get a heavy-duty CV-joint
	  drive shaft requires the eliminator kit.
</ul>

<h3>Final product of Phase 1</h3>
There are only a few lingering issues I'm working on resolving, but at
this point (10/11/00) I'd say phase 1 is basically complete.  Total cost
was about $10,000.  On 11/27/2000 I passedthe CA referee smog test and
became legal with the Camaro engine.  I've now got one of those little
VIN stickers in the door sill so I can get smog checks at a normal
station next time. (Although I'll probably only have to do that once
more before my truck becomes exempt.)

<br>
<a href="images/truck-from-side-large.jpg"><img src="images/truck-from-side-small.jpg" alt="From the side"></a>
<a href="images/on-the-road-large.jpg"><img src="images/on-the-road-small.jpg" alt="On the road"></a>



<hr>
<a href="../">Back to my automotive page</a> <a href="/~dhiltgen/">To my top level home page</a>
</body>
</html>
