<div class="container theme-showcase" role="main">
    <div class="row">
        <div class="col-xs-4">
            <img src="{{ .BlobPrefix }}/graphics/scuba.jpg" class="img-responsive" title="" alt="">
        </div>
        <div class="col-xs-8">
            <h3>Scuba Diving</h3>

            <p>

            I've been a PADI certified open water diver since 2001
            and have been fortunate to dive at some awesome places, like
            Belize, Hawaii, and the great barrier reef in Australia, but
            some of the best diving I've ever done has been right here
            in my own back yard - Monterrey and Carmel (but darn it's cold!)

            </p>

            Someday I'd love to pick up a dry suit so I can spend more time
            diving in the Monterrey bay.  The kelp forests are spectacular,
            and it's always fun to become the play-thing to some little
            curious harbor seal.

        </div>
    </div>
</div>
