<div class="container theme-showcase" role="main">
    <div class="row">
        <div class="col-xs-4">
            <img src="{{ .BlobPrefix }}/graphics/mtb.jpg" class="img-responsive" title="" alt="">
        </div>
        <div class="col-xs-8">
            <h3>Mountain Biking</h3>

            <p>
            I've never been a huge fan of hanging out in gym's to
            get my workout.  I'd much rather get outdoors and see some
            wonderful scenery, get fresh air, and with any luck, a little
            adrenaline rush too.  One of my favorite activities that
            mixes these all is mountain biking.  From the child-friendly
            Arastradero preserve, to Saratoga Gap, and the extreme of
            Soquel Demonstration Forest, the bay area has ton's of great
            trails to offer.

            </p>

            And now that my daughter is on a multi-speed bike, she's
            starting to join on some of the mountain biking adventures.

        </div>
    </div>
</div>
