<div class="container theme-showcase" role="main">
    <div class="row">
        <div class="col-xs-4">
            <a class="media-left" href="{{ .BlobPrefix }}/albums/automotive/race_events/" title=""><img src="{{ .BlobPrefix }}/albums/automotive/race_events/Infineon_Aug_2005/IMG_0343_Med.jpg" class="img-responsive" title="" alt=""></a>
        </div>
        <div class="col-xs-8">
            <h3>Auto Racing</h3>

            <p>
            In the early 2000's a friend offered to take me on a
            ride-a-long at a track-day event he was going to.  Man,
            was I hooked!  Talk about some serious adrenaline, and
            G-forces, and speed!  It's certainly not the worlds most
            cost-effective hobby, but nothing is quite like rocketing down
            the front straight of a track like Thunderhill at over 120MPH.
            I've also enjoyed track days at Sears Point, Buttonwillow,
            and the Lone Pine air strip (high-speed autocross.)

            </p>

            <p>

            Over the years I've owned a number of of track cars.
            My first foray was with a C4 Corvette (1995) - Largely
            stock, except for safety equipment.

            </p>

            <p>

            My other track car is frankenstein Z, although it's
	    currently non-op.  Once my kids get closer to driving
	    age we're planning to rebuild it (likely as an electric car)
	    at which point it'll be ready to head back to the track.

            </p>

        </div>
    </div>
</div>
