<div class="container theme-showcase" role="main">
    <div class="row">
        <div class="col-xs-4">
            <img src="{{ .BlobPrefix }}/graphics/backpacking.jpg" class="img-responsive" title="" alt="">
        </div>
        <div class="col-xs-8">
            <h3>Backpacking</h3>

            <p>
            My family always enjoyed taking family camping trips,
            albeit car-camping when I was growing up, and I was hooked.
            In college, a group of friends and I started venturing farther
            off the beaten path with backpacking trips all over the sierras.

            </p>

            Now that I have young children, most of our camping has
            reverted back to car-camping style (where we're within a few
            hundred feet of the car at an "improved" camp-site) but as
            the kids get older, we're starting to gently introduce them
            to backpacking as well.

        </div>
    </div>
</div>
