<footer class="footer">
  <div class="container">
    <div class="row">
        <div class="col-md-6">
            <p class="text-left">
                Copyright (c) 1997-2020 Daniel K. Hiltgen
            </p>
        </div>
    </div>
  </div>
</footer>
</BODY>
</HTML>

