<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <TITLE>Daniel K. Hiltgen</TITLE>
    <link href="{{ .BlobPrefix }}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ .BlobPrefix }}/css/sticky-footer-navbar.css" rel="stylesheet">
  </head>
<BODY role="document">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{{ .BlobPrefix }}/js/bootstrap.min.js"></script>
<!-- begin top-level nav bar -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#dh-navbar-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ .SitePrefix }}/">Daniel K. Hiltgen</a>
    </div>
    <div class="collapse navbar-collapse" id="dh-navbar-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Make <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li{{ if eq .NavSection "career" }} class="active"{{ end }}><a href="{{ .SitePrefix }}/career/">Career</a></li>
            <li{{ if eq .NavSection "automotive" }} class="active"{{ end }}><a href="{{ .SitePrefix }}/automotive/">Automotive</a></li>
            <li{{ if eq .NavSection "electronics" }} class="active"{{ end }}><a href="{{ .SitePrefix }}/electronics/">Electronics</a></li>
            <li{{ if eq .NavSection "software" }} class="active"{{ end }}><a href="{{ .SitePrefix }}/software/">Software</a></li>
            <li{{ if eq .NavSection "construction" }} class="active"{{ end }}><a href="{{ .SitePrefix }}/construction/">Construction</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Play <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li{{ if eq .NavSection "snowboarding" }} class="active"{{ end }}><a href="{{ .SitePrefix }}/snowboarding/">Snowboarding</a></li>
            <li{{ if eq .NavSection "diving" }} class="active"{{ end }}><a href="{{ .SitePrefix }}/diving/">Scuba Diving</a></li>
            <li{{ if eq .NavSection "mountainbiking" }} class="active"{{ end }}><a href="{{ .SitePrefix }}/mountainbiking/">Mountain Biking</a></li>
            <li{{ if eq .NavSection "backpacking" }} class="active"{{ end }}><a href="{{ .SitePrefix }}/backpacking/">Backpacking</a></li>
            <li{{ if eq .NavSection "racing" }} class="active"{{ end }}><a href="{{ .SitePrefix }}/racing/">Auto Racing</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="http://www.linkedin.com/pub/daniel-hiltgen/0/875/202">
                <img src="{{ .BlobPrefix }}/graphics/LinkedIn-50.png" width=20 alt="View Daniel Hiltgen's LinkedIn profile" style="vertical-align:middle;" />
           </a>
        </li>
        <li>
            <a href="https://www.facebook.com/daniel.hiltgen">
                <img src="{{ .BlobPrefix }}/graphics/FB-f-Logo__blue_29.png" width=20/>
            </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- end top-level nav bar -->

