<div class="container theme-showcase" role="main">
    <div class="media">
        <a class="media-left" href="{{ .SitePrefix }}/">
            <img src="{{ .BlobPrefix }}/graphics/mug_shot_96.png" alt="Mug Shot">
        </a>
        <div class="media-body">
            <h2 class="media-heading">Brief Bio</h2>
            <p class="lead">
            Born in Los Angeles, Daniel grew up in the Santa Cruz mountains, and attended
            <a href="http://www.calpoly.edu/">Cal Poly (SLO)</a>, graduating in
            1999 with a BS in <a href="https://www.csc.calpoly.edu/">Computer Science</a>.
            He has worked at <a href="http://www.sun.com/">Sun Microsystems</a>,
            <a href="http://www.vmware.com/">VMware</a>, Netine, and
            <a href="http://www.docker.com/">Docker.</a>  More career details
            available <a href="career/">here.</a>
            </p>
            <p class="lead">
            In 2005, Daniel married <a href="/meredith">Meredith</a> and they have two children;
            Natalie, born in 2008, and Kyle, born in 2010.
            </p>
            <p class="lead">
            Daniel enjoys building things, ranging everywhere from
            <a href="software/">software</a> and
            <a href="electronics/">electronics</a>,
            to <a href="automotive/">custom vehicles</a> and
            <a href="construction/">home construction projects</a>.
            Explore a sampling of these projects
            via the navigation links above under "Make".
            </p>
            <p class="lead">
            Daniel also has a strong love of the outdoors, and enjoys
            numerous hobbies such as
            <a href="snowboarding/">snowboarding</a>,
            <a href="diving/">scuba diving</a>,
            <a href="mountainbiking/">mountain biking</a> and
            <a href="backpacking/">backpacking</a>.  Explore a sampling of
            these hobbies with the "Play" link above.
            </p>
        </div>
    </div>
</div>
