<div class="container theme-showcase" role="main">
    <div class="row">
        <div class="col-xs-4">
            <img src="{{ .BlobPrefix }}/graphics/garage.jpg" class="img-responsive" title="" alt="">
        </div>
        <div class="col-xs-8">
            <h3>Garage Expansion</h3>

            As you may have noticed, I love to work on cars.  Nothing is
            more frustrating than having your long term project car
            sit outside and have rodents destroy the electrical.
            (Been there, done that.)  Our house had a 3 car garage,
            and with some clever re-engineering of the roof structure,
            we were able to accommodate two 4-post lifts for storage,
            and a single 2-post lift for working on the projects.

            <ul>
            <li><a href="{{ .BlobPrefix }}/graphics/Garage-Remodel-v2.skp">Garage-Remodel-v2.skp</a> (20M) <a href="http://www.sketchup.com/">SketchUp</a> 3D model of the garage.</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <img src="{{ .BlobPrefix }}/graphics/cellar.jpg" class="img-responsive" title="" alt="">
        </div>
        <div class="col-xs-8">
            <h3>Wine Cellar</h3>

	    We like to collect wine, and had grown tired of the growing
collection of wine fridges filling the dining room.  We decided to build a
cellar, and go down to do so.  I personally designed a ~2000 bottle capacity
basement wine cellar which we built under our house.  We use a mix of metal and
wood racking, with granite counters, and used wine oak barrel staves as a false
ceiling to add to the aesthetic.

            <ul>
            <li><a href="{{ .BlobPrefix }}/graphics/new-cellar-layout.skp">new-cellar-layout.skp</a> (4.7M) <a href="http://www.sketchup.com/">SketchUp</a> 3D model of the cellar.</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <a class="media-left" href="{{ .BlobPrefix }}/albums/home_remodel/masterbath" title=""><img src="{{ .BlobPrefix }}/graphics/antonio_master_bath.jpg" class="img-responsive" title="" alt=""></a>
        </div>
        <div class="col-xs-8">
            <h3>Curb-less Master bath</h3>

            This was the first major home construction project I did from
            start to finish myself.  In our prior house, the previous
            owner had taken the already small master bathroom and
            cluttered it up with a large counter and wall to isolate
            the shower.  We wanted a more open feel so I gutted it,
            replaced the floor joists so we could drop them down to
            water proof the whole thing, and maximized the space by
            making it into an open curb-less shower.

        </div>
    </div>
</div>
