<div class="container theme-showcase" role="main">
    <div class="row">
        <div class="col-xs-4">
            <a class="media-left" href="http://team16.smugmug.com/Other/Pubsnowboarding/n-P6SWK" title=""><img src="{{ .BlobPrefix }}/graphics/dh_air.jpg" class="img-responsive" title="" alt=""></a>
        </div>
        <div class="col-xs-8">
            <h3>Snowboarding</h3>

            When mother nature decides to give us some snow, I love
            spending time on the mountain snowboarding.  I've been carving
            it up since ~89, and I tend to prefer back-country, extreme,
            and alpine riding.  Now that my kids are starting to get a little
            older, we're starting to turn it into a family affair.

        </div>
    </div>
</div>
