<html>
<head><title>2001 Chevrolet Suburban for sale</title></head>
<body bgcolor=white>

<h1>2001 Chevrolet Suburban</h1>

Asking $27,000 OBO. <br>

d_hiltgen@yahoo.com - 408 887 5778

<table width=100%>
<tr>

<td width=50%>
<ul>
<li> <b>Exterior:</b> Indigo Blue Metallic
<li> <b>Interior:</b> Lt Gray/ Neutral Leather Trim
<li> <b>VIN:</b> 3GNFK16T01G218309
<li> <b>Miles:</b> 32,300
<li> Still under 3/36K factory warranty
<li> K1500 4x4
<li> 5.3 liter Vortec V8
<li> 4sp automatic
<li> Autoride Suspension
<li> Factory privacy glass tint
<li> LT Preferred Equip. Grp Includes:
	<ul>
	<li> Cruise
	<li> Remote Keyless entry with alarm
	<li> Autodimming mirror with Compass and outside temp
	<li> Front and Rear AC
	<li> Rear heat
	<li> 6 way power heated bucket seats / Driver side memory
	<li> Leather wrapped steering wheel
	<li> Enhanced sunshades
	<li> Power windows
	<li> Step running boards
	<li> OnStar
	<li> 9 speaker system w/subwoofer
	<li> Rear seat audio controls
	<li> CD and Tape player
	<li> Fog lamps
	<li> Premium Ride Suspension
	<li> Power heated rear view mirrors with ground illumination
	</ul>
<li> Trailer package:
	<ul>
	<li> Class 3 trailer hitch
	<li> 7 lead Wire harness connector
	</ul>
<li> Electric moon roof
<li> 2nd Row bucket seats
<li> Locking rear differential
<li> 3.73 Axle ratio
<li> Wheel opening flares
<li> Off-road skid plate package
<li> Engine block heater
<li> 7200 GVWR rating
<li> California ULEV rating
<li> Cargo doors
<li> Automatic head lights
</ul>
</td>
<td align=top width=50%>
<a href=1.jpg><img src=1-small.jpg></a>
<a href=2.jpg><img src=2-small.jpg></a>
<a href=all-seats-large.jpg><img src=all-seats-small.jpg></a>
<a href=front-seat-1-large.jpg><img src=front-seat-1-small.jpg></a>
<a href=middle-large.jpg><img src=middle-small.jpg></a>
<a href=moonroof-large.jpg><img src=moonroof-small.jpg></a>

</td>
</tr>
</table>

</body>
</html>
