<html>
<head>
<title>2001	Chevrolet Suburban</title>
<body>
<h1>2001 Chevrolet Suburban</h1>

This was my current daily driver for a few years.   With the 20" rims it
was a blast to drive, but it just wasn't a sports-car.  Since I still
have the blazer, I decided to part with it.  I think the next project may
be a C4 vette...

<p>
Mods: (not much... )
<ul>
<li>20" BBS rims
<li>The old Alpine deck and EQ from the 4Runner.
<li>Two 10" woofers in an iso box.
<li>One of the new Alpine MP3 CD changers
<li>Thule roof rack
<li>Billet aluminum grill
</ul>

<hr>

Here are a few random digital pic's I've got of the truck.  

<p>

<a href="dsc00038.jpg"><img src="dsc00038_small.jpg"></a>
<a href="sub_with_bikes_large.jpg"><img src="sub_with_bikes_large_small.jpg"></a>
<a href="dsc00021.jpg"><img src="dsc00021_small.jpg"></a>
<a href="dsc00020.jpg"><img src="dsc00020_small.jpg"></a>
<a href="dsc00023.jpg"><img src="dsc00023_small.jpg"></a>
<a href="dsc00053.jpg"><img src="dsc00053_small.jpg"></a>


</body>
</html>
