<html>
<head>
<title>2001	Chevrolet Suburban</title>
<body>
<h1>2001 Chevrolet Suburban</h1>

This is my current daily driver, when I'm not <em>borrowing</em> Meredith's
car.  I miss the sports-car, but with the new 20" rims and low-profile tires, 
this thing can corner!

<p>
Mods: (not much... )
<ul>
<li>20" BBS rims
<li>The old Alpine deck and EQ from the 4Runner.
<li>Two 10" woofers in an iso box.
<li>One of the new Alpine MP3 CD changers
<li>Thule roof rack
<li>Billet aluminum grill
</ul>

<hr>

Here are a few random digital pic's I've got of the truck.  The frist
three are during the stereo install.  The funky nose picture is when
I installed the billet grill, and the last picture is prior to addding
the new rims and tires.

<p>

<a href="dsc00020.jpg"><img src="dsc00020_small.jpg"></a>
<a href="dsc00021.jpg"><img src="dsc00021_small.jpg"></a>
<a href="dsc00023.jpg"><img src="dsc00023_small.jpg"></a>
<a href="dsc00038.jpg"><img src="dsc00038_small.jpg"></a>
<a href="dsc00053.jpg"><img src="dsc00053_small.jpg"></a>
<a href="sub_with_bikes_large.jpg"><img src="sub_with_bikes_large_small.jpg"></a>


</body>
</html>
