<div class="container theme-showcase" role="main">
    While I have no formal automotive training, I've always loved tinkering on and modifying cars.  In college, I began my first major project, shoe-horning a Ford Mustang 5.0 V8 into a Toyota 4Runner.  Since then, I've built a number of "ground-up" projects, including a "frankenstein" Z race car, and a highly customized 1974 Chevy Blazer.  I usually try to keep one unmodified daily driver around so the projects can be worked on when I have the time, instead of stressing out to keep them running to get to work.
    <div class="row">
        <div class="media col-xs-12">
        <h2>Current Vehicles and Projects</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <a class="media-left" href="https://photos.app.goo.gl/jsfMDcam9FgDA2An9"><img src="{{ .BlobPrefix }}/graphics/automotive/tesla.png" class="img-responsive" title="Tesla" alt="Tesla"></a>
        </div>
        <div class="col-xs-2">
            2019 Tesla Model 3<br/>
	    Off-menu Performance <br/>
	    Sleeper: just the insane drive-train, no brake upgrade, 20's, lowering, or spoiler
        </div>
        <div class="col-xs-4">
            <a class="media-left" href="blazer/" title="Blazer"><img src="{{ .BlobPrefix }}/graphics/automotive/blazer/phase3/IMG_0664_med.jpg" class="img-responsive" title="Blazer" alt="Blazer"></a>

        </div>
        <div class="col-xs-2">
            1974 Chevy Blazer<br/>
            Highly Modified
            <ul>
                <li>
                    Project began in '01
                </li>
                <li>
                    1995 Camaro Engine
                </li>
                <li>
                    3/4 ton running gear
                </li>
                <li>
                    Fiberglass fenders
                </li>
                <li>
                    <a href="blazer/">...and tons more</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <a class="media-left" href="{{ .BlobPrefix }}/albums/automotive/z/" title="Z"><img src="{{ .BlobPrefix }}/graphics/automotive/z.jpg" class="img-responsive" title="Z" alt="Z"></a>
        </div>
        <div class="col-xs-2">
            "Franken-Z"<br>
            Track Car
            <ul>
                <li>
                    Project began in '05
                </li>
                <li>
                    SCCA "Beater Challenge" $800 project
                </li>
                <li>
                    Combination of the best parts of two cars: '74 260Z and '78 280Z
                </li>
            </ul>
        </div>
        <div class="col-xs-4">
            <a class="media-left" href="4runner/" title="4Runner"><img src="{{ .BlobPrefix }}/graphics/automotive/4runner/IMG_0887_med.jpg" class="img-responsive" title="4Runner" alt="4Runner"></a>
        </div>
        <div class="col-xs-2">
            1985 Toyota 4Runner<br/>
            Highly Modified
            <ul>
                <li>
                    Project began in '96
                </li>
                <li>
                    1989 Ford Mustang V8 Engine
                </li>
                <li>
                    <a href="4runner/">...and lots more</a>
                </li>
            </ul>
        </div>
        <div class="media col-xs-6">
        </div>
    </div>

    <hr/>

    <div class="row">
        <div class="media col-xs-12">
        <h2>Past Vehicles and Projects</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <img src="{{ .BlobPrefix }}/graphics/automotive/ctsv.jpg" class="img-responsive" title="CTS-V" alt="CTS-V">
        </div>
        <div class="col-xs-2">
            2013 CTS-V Wagon <br/>
            6 Speed </br>
            <dl>
                <dt>Unmodified</dt>
                <dd>Stock: 556 HP</dd>
            </dl>
        </div>
        <div class="col-xs-4">
            <a class="media-left" href="{{ .BlobPrefix }}/albums/automotive/vette/" title="Vette"><img src="{{ .BlobPrefix }}/graphics/automotive/vette.jpg" class="img-responsive" title="Vette" alt="Vette"></a>
        </div>
        <div class="col-xs-2">
            1995 Corvette<br/>
            Track Car
            <dl>
                <dt>Engine</dt>
                <dd>Stock: 300 HP</dd>
                <dt>Mod's</dt>
                <dd>Sparco race seats, Bolt-in roll-bar, aluminum radiator</dd>
            </dl>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <a class="media-left" href="{{ .BlobPrefix }}/albums/automotive/mazda/" title="Mazda"><img src="{{ .BlobPrefix }}/graphics/automotive/mazda.jpg" class="img-responsive" title="mazda" alt="Mazda"></a>
        </div>
        <div class="col-xs-2">
            2005 Mazda 6 Wagon
        </div>
        <div class="col-xs-4">
            <a class="media-left" href="{{ .BlobPrefix }}/albums/automotive/bmw/" title="BMW"><img src="{{ .BlobPrefix }}/graphics/automotive/bmw.jpg" class="img-responsive" title="BMW" alt="BMW"></a>
        </div>
        <div class="col-xs-2">
            1995 BMW 540
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <a class="media-left" href="{{ .BlobPrefix }}/albums/automotive/suburban/" title="Suburban"><img src="{{ .BlobPrefix }}/graphics/automotive/suburban.jpg" class="img-responsive" title="Suburban" alt="Suburban"></a>
        </div>
        <div class="col-xs-2">
            2001 Suburban
        </div>
        <div class="col-xs-4">
            <img src="{{ .BlobPrefix }}/graphics/automotive/sti.jpg" class="img-responsive" title="STI" alt="STI">
        </div>
        <div class="col-xs-2">
            2008 WRX STI<br/>
            6 Speed </br>
            Former Daily Driver
            <dl>
                <dt>Unmodified</dt>
                <dd>Stock: 305 HP</dd>
            </dl>
        </div>
    </div>
</div>
