<div class="container theme-showcase" role="main">
    <div class="row">
        <div class="col-xs-6">
            <a class="media-left" href="http://cascade.hiltgen.com/live/driveway" title=""><img src="{{ .BlobPrefix }}/cascade-driveway.jpg" class="img-responsive" title="Driveway" alt=""></a>
        </div>
        <div class="col-xs-6">
            <a class="media-left" href="http://cascade.hiltgen.com/live/porch" title=""><img src="{{ .BlobPrefix }}/cascade-porch.jpg" class="img-responsive" title="Front Porch" alt=""></a>
        </div>
    </div>
<br/>
    <div class="row">
        <div class="col-xs-6">
            <a class="media-left" href="http://cascade.hiltgen.com/live/deck" title=""><img src="{{ .BlobPrefix }}/cascade-deck.jpg" class="img-responsive" title="Back Deck" alt=""></a>
        </div>
        <div class="col-xs-6">
            <a class="media-left" href="http://cascade.hiltgen.com/live/shed" title=""><img src="{{ .BlobPrefix }}/cascade-shed.jpg" class="img-responsive" title="Shed" alt=""></a>
        </div>
    </div>
</div>
