<div class="container theme-showcase" role="main">
    <div class="row">
        <div class="col-xs-6">
            <a class="media-left" href="{{ .BlobPrefix }}/cascade-driveway.jpg" title=""><img src="{{ .BlobPrefix }}/cascade-driveway.jpg" class="img-responsive" title="Driveway" alt=""></a>
        </div>
        <div class="col-xs-6">
            <a class="media-left" href="{{ .BlobPrefix }}/cascade-porch.jpg" title=""><img src="{{ .BlobPrefix }}/cascade-porch.jpg" class="img-responsive" title="Front Porch" alt=""></a>
        </div>
    </div>
<br/>
    <div class="row">
        <div class="col-xs-6">
            <a class="media-left" href="{{ .BlobPrefix }}/cascade-deck.jpg" title=""><img src="{{ .BlobPrefix }}/cascade-deck.jpg" class="img-responsive" title="Back Deck" alt=""></a>
        </div>
        <div class="col-xs-6">
            <a class="media-left" href="{{ .BlobPrefix }}/cascade-shed.jpg" title=""><img src="{{ .BlobPrefix }}/cascade-shed.jpg" class="img-responsive" title="Shed" alt=""></a>
        </div>
    </div>
</div>
