<HTML>
<Head>
<title>
Project 2: Alternative Fuel 1973 Chevy Blazer
</title>
</Head>

<BODY>
<H1 ALIGN="CENTER">Project 2: Alternative Fuel 1973 Chevy Blazer</h1>

Project 1 was my <a href=conversion.html>5.0 V8 4Runner conversion</a>
so now it's time to start thinking about the next project.  At this
point I'm in the planning stage, but here's the basic outline of what I
want to do.  I still don't have enough information to begin acquiring the parts for this project, so If you are familiar with any of this information or have
any pointers, _PLEASE_ let me know.  Finding this sort of information
is downright hard!

<ul>
<li> Build a 1973 Chevy Blazer from the ground up.  (Making sure
	the frame is strong and there's absolutely no rust.)
<li> 3" to 6" lift with 33" to 35" tires.
<li> 5 speed
<li> Running gear out of a 3/4 or 1 ton Chevy truck from the mid 90s 
or potentially hand pick components for maximum strength
<li> Base the engine on a Chevy 350  (LT1 or LT5?  ...late model fuel injected)
<li> Dual fuel configuration:
	<ul>
	<li> Conventional gasoline via stock fuel injection 
	<li> Some form of alternative fuel, possibly CNG (Compressed Natural Gas)
			I would like the alternative fuel to be delivered via fuel injectors
			as well; carbs are just icky.  This should be TPI not TBI!  This 
			is where I'm really weak on information, but obviously the most
			important for the project.
	<li> Possibly low pressure super charger or turbo to increase
		compression slightly to compensate for the alternative fuel. (Still 
		need to do a lot more research on this one.)
	</ul>
<li> Replace interior with a late 90s interior from a chevy truck 
or blazer( whatever is the closest fit)  I don't like the old
interiors, but I really like the body on these trucks.
<li>Full roll cage in the cab
</ul>

<h2>Status:</h2>

I'm still in the planning stage.  I'm going to need to graduate, and get a lot
more information on the fuel delivery system before I can start working on this
project.  

<p>

If you have any information that you think might help me in this
project please let me know (dhiltgen@drseuss.calpoly.edu)  My goal once
completing this swap is to completely document the process on a web
page so others can convert their vehicles as well.

<p>
$Id: alt-fuel-truck.html,v 1.1 1998/08/04 05:38:55 dhiltgen Exp $
<h5>
( <img src="/cgi-bin/Count.cgi?df=dh_alt-fuel-truck.dat&trgb=ffffff&ft=0&dd=E&comma=T" alt="xxx"> )
as of 03/18/99</h5>


</BODY>
</HTML>
