<HTML>
<Head>
<title>
Ford 5.0 V8 conversion
</title>
</Head>

<BODY>
<H1 ALIGN="CENTER"><a href="../../automotive/4runner/">1985 4Runner </a>Engine conversion
<BR> 1989 Ford Mustang 5.0 
<BR> (225 HP, 300ft/lb)</H1>

<h3>Update:</h3>

(08/98)  I just passed my first "normal" smog check at a regular smog check
station without a glitch.  My idle emissions were a little high as my cats are
kind of far back from the engine... couldn't fit them any closer due to the
narrow frame and the size of the engine and tranny, so they get cold quickly.
If I have any problems passing at idle in the future I'm thinking I might wrap
the cats in that insulating tape that they sell for headers to keep them warm
longer.
<p>

I have now put about 25k miles on the engine in this truck and I have to say
it's working wonderfully.  I've run into minor glitches here and there (power
steering pump went out, idle problems probably due to some sort of vacuum leak
that I've been unable to trace down, and some other minor things) but all in
all it's working great.    

<p>
The remainder of this page was written in 1996 shortly after I completed the swap itself.

<hr>
<b>Swap completed in Spring of 1996</b><p>
Well, it's finally done.  I have passed the California smog check and 
I'm legal.  Getting it to pass was quite a pain, as the referee
wanted absolutely <em>everything</em> in place, even the neutral indicator
switch in the tranny.  Whew!  

<UL>
<li>Engine: 1989 California Mustang 5.0
<li>Tranny: 1990 Mustang T-5 modified with Jeep tail-housing 
<li>Transfer: Stock 1985 Toyota with Advanced Adaptors adaptor to the tranny.
</ul>


<h3>Pictures</h3>
At long last I've finally gotten the following pictures scanned in.  
At some point I plan on annotating these pictures to high-light the important
parts (mounts, adaptors, clearance problems, etc.)
(Click on the thumbnail for a larger image)<p>

<h4>The Swap itself</h4>


<a href="../../graphics/old-engine.jpg"><img src="../../graphics/old-enginesmall.jpg" alt="Old 22RE engine just before swap"></a>
<a href="../../graphics/clutch5.jpg"><img src="../../graphics/clutchsmall.jpg" alt="New engine hoisted up.  Showing new clutch slave."></a>
<a href="../../graphics/grind.jpg"><img src="../../graphics/grindsmall.jpg" alt="Me grinding the old engine mounts out."></a>
<a href="../../graphics/hoisting.jpg"><img src="../../graphics/hoistingsmall.jpg" alt="Hoisting the new engine into place"></a>
<p>
<a href="../../graphics/trannya.jpg">
This is a picture of the T5 tranny/new tail housing/adaptor/Toyota transfer
case all bolted together. </a>

<h4>The Final Product</h4>
<a href="../../graphics/50.jpg"><img src="../../graphics/50small.jpg" alt="Mustang 5.0 emblem"></a>
<a href="../../graphics/under-nose.jpg"><img src="../../graphics/under-nosesmall.jpg" alt="Shot under the nose of the truck"></a>
<a href="../../graphics/under-nose2a.jpg"><img src="../../graphics/under-nose2small.jpg" alt="Another under the nose"></a>
<a href="../../graphics/under-fronta.jpg"><img src="../../graphics/under-frontsmall.jpg" alt="Shot from the center looking forward"></a>
<a href="../../graphics/under-centera.jpg"><img src="../../graphics/under-centersmall.jpg" alt="Shot of the center underside"></a>
<a href="../../graphics/under-back.jpg"><img src="../../graphics/under-backsmall.jpg" alt="Shot from the center looking back"></a>
<a href="../../graphics/full-side.jpg"><img src="../../graphics/full-sidesmall.jpg" alt="Full side shot of underside"></a>
<a href="../../graphics/engine-far.jpg"><img src="../../graphics/engine-farsmall.jpg" alt="Shot of engine"></a>
<a href="../../graphics/engine-closea.jpg"><img src="../../graphics/engine-closesmall.jpg" alt="Closer shot of engine"></a>
<a href="../../graphics/clutchslavea.jpg"><img src="../../graphics/clutchslavesmall.jpg" alt="Clutch Slave cylinder"></a>
<a href="../../graphics/cab.jpg"><img src="../../graphics/cabsmall.jpg" alt="Shot of the cab"></a>
<a href="../../graphics/truck.jpg"><img src="../../graphics/trucksmall.jpg" alt="Big truck pict"></a>


<h3>Clearance</h3>

This swap has turned out to be much more of a headache than I thought it
would be.  I suppose if I was a professional mechanic I'd have had a
much easier time but I learned as I went. The first major problem was
clearance.  Toyota engine compartments just aren't meant for engines
that big!  You are supposed to mount the engine mounts from Advanced
Adaptors Upside Down so that the engine is sitting down between the
frame rails so you don't have to have a body lift, but the problem is
all of the power accessories wont fit between the frame no matter what
you do.  (Specifically, the power steering pump, and the steering gear
housing want to be in the same place, at the same time.)  The only
solution that I saw was to install a 3 inch body lift and flip the 
engine mounts around.  Yuck!  <p>

Even without the stock fan (had to go with 2 electrics), I had to push
the fire wall almost 10" back in some places.  Let's just say my
ventilation system is a little whacked.

<p>
One thing that I wasn't aware of at the beginning was that the stock engine
mounts have to be cut/torched off, so once you start, there's no going back.
(Don't know why you'd want to though....)

<p>
Advanced Adaptors sells the kit stating that you will NOT have to modify
drive shaft lengths.  While this might be possible, I didn't want my
engine to pop through my radiator when I go wheeling so I mounted it
back a bit farther.  My shafts were adjusted about 1.5 inches to clear
everything.  Now that I know the engine doesn't move more than a few
millimeters on the mounts I can probably slide the engine forward a
little, but for now it works.


<h3>Electrical</h3>

One other major problem was electrical.  In reality, as long as you have
the Mustang shop manual, it's not that hard to integrate the two
electrical systems. BTW: Someone should be shot at Toyota.  Their wiring
diagram in the <em>official</em> shop manual just plain sucks!  My
problem was that I was given both a computer, and Mustang wire harness
that didn't work.  After I figured this out and replaced them, the
electrical worked fine, sort of....

<p>

After about 1500 miles on the new engine, the check engine light popped on, 
but the computer wouldn't give up any codes. It turned out that the
computer was hosed.  This was caused most likely by an exceptionally bad
ground wire coming from the battery.  (I tested it after I fried the
computer and it registered 45 ohms in just 6 inches!) I have replaced
the computer, and fixed the ground situation, and the new computer seems
to be much happier.

<P> 
One other interesting aspect.... It turns out that I have a manual tranny
computer, and an automatic harness.  YES, there is a difference.  The 
difference only becomes a problem when you want to put the computer into
diagnostic mode, since it's checking the wrong leads on the harness.
After tracing the wiring diagrams, I figured out which wires to connect
to put it into diagnostic mode. (Urgh, that was fun.)

<h3>Broken parts</h3>

Due to the placement of the engine, I had to have my drive shafts modified.
When I first started to drive the truck after the swap it made a thunking
sound when starting out which I thought was the diff, but it appears to
be caused by an exceptionally careless welder who screwed up my rear drive
shaft.  This problem has yet to be resolved, but appears to be only an
irritation factor.

<p>
After about 1000 miles on the engine, one of my front steering knuckle bearings
went out.  I'm not sure if this is the fault of the heavier engine, or just
age (The Truck body has over 140K on it.)

<p>
While it's not really broken, the front end has loosened up quite a bit
with the added weight.  All of my steering components are stock, and
when the 3.5" lift and the bigger engine are combined it makes for an
interesting drive sometimes. It tends to wonder a bit more than I would
like on bumpy roads or under braking.  I should hopefully have this
situation resolved before too long.

<h3>Costs</h3>

The grand total to date for the Swap almost $5000.  (OUCH!)  Oh well,
It's one heck of a truck now!


The following list details what was spent on the conversion.
<p>
<TABLE border=1 width=100%>
<tr> <th> Date </th><th> Source </th><th> Item(s) </th><th> Cost </th></tr>

<tr> <th> 02/23/96 </th><th> AA </th><th> T5->Toy trans adaptor,engine mnts.  </th><th> 931.88 </th></tr>
<tr><th>02/27/96</th><th>Total Performance</th><th>Gerling clutch slave cylinder</th><th>187.38</th></tr>
<tr><th>03/13/96</th><th>AAW</th><th>1989 Ford Mustang 5.0 engine & T5 transmition</th><th>1724.00</th></tr>
<tr><th>03/14/96</th><th>Dealers Car Stereo</th><th>Assorted quick connects</th><th>20.00</th></tr>
<tr><th>03/14/96</th><th>Frys Electronics</th><th>Assorted wires and connectors</th><th>64.67</th></tr>
<tr><th>03/15/96</th><th>AA</th><th>Chevy radiator</th><th>343.20</th></tr>
<tr><th>03/15/96</th><th>Kragen</th><th>Fan belt, oil & antifreeze</th><th>50.26</th></tr>
<tr><th>03/15/96</th><th>Napa</th><th>Trany thrush? bearing</th><th>12.57</th></tr>
<tr><th>03/16/96</th><th>Napa</th><th>Assorted fasteners, gaskets</th><th>27.96</th></tr>
<tr><th>03/18/96</th><th>NW Off-road</th><th>Body lift</th><th>301.10</th></tr>
<tr><th>03/18/96</th><th>PAW</th><th>Oil filt. reloc., volt oil & water gauges, electric fans</th><th>398.99</th></tr>
<tr><th>03/20/96</th><th>A-Z rental</th><th>Engine hoist rental 1 week</th><th>100.82</th></tr>
<tr><th>03/20/96</th><th>Napa</th><th>Assorted hoses</th><th>61.64</th></tr>
<tr><th>03/21/96</th><th>Napa</th><th>Fuel filter, assorted hoses & clamps</th><th>35.47</th></tr>
<tr><th>04/03/96</th><th>Central Coast Bearing</th><th>Custom Hose adaptors</th><th>133.33</th></tr>
<tr><th>05/18/96</th><th>Hysen Johnson Ford(SLO)</th><th>Gear shift lever</th><th>58.24</th></tr>
<tr><th>05/31/96</th><th>PAW</th><th>K&N filter,elec. tach & mntg. cup,fuel press gauge & hose</th><th>393.24</th></tr>

</table>
<pre>
Total to date: 4844.75

AA = Advanced Adaptors
PAW = Performance Auto. Wholesalers
AAW = Action Auto Wreckers
</pre>

<h3>Overall Impressions</h3>
I would have to say, if you are considering swapping the engine out of
your truck think really hard about the reasons that are prompting you
to do it.  It's not easy, and it's not cheap.  If you just want more
power, sell your truck and get a full size.  If you want power in a
small body, and are willing to take the time and spend the money to do
it right then go for it!  Cutting corners is not something you want
to do.

<p>
In all honesty, I personally probably shouldn't have done the swap.  I just
wanted power, but I had no idea it was going to cost this much.  My 
initial estimate was that the swap would cost about $3000.  I would
have come out far ahead to just buy a full sized truck in the first place,
as I now have well over 12K invested in my truck, and it's definitely
not worth that now.  (Maybe 8k.)  

<p>
Bottom line. It's a fun, scratch that, awesome truck!  It hauls ass, and
as long as you don't break anything, I don't think you could stop it if
you tried.  It rocks!  The exhaust note definitely turns heads, and when
people look under the hood, their jaws usually hit the ground. ;)  Even
with 33" tires and stock gears the back end will break loose quite
easily if I let my right foot get too carried away.  I can easily accelerate
past 80 on steep hills that I used to creep up at 35. Since I placed 
this page on-line I've gotten quite a few e-mails from envious 4Runner
and Toyota truck owners. ;)

<h3>Future Plans</h3>
Once I get out of school and have a little more time and money, I plan
on doing a few more things to "complete" the swap.  I would like to put
a Ford 9" or Dana 60 rear end in.  I would also like to replace the
existing drive shafts which were quite mangled by the shop I sent them
to for modifications.  The engine should be moved forward about half an
inch to make more room at the fire wall. When I first installed the
engine I didn't know how much it would flop around on the mounts so I
installed it pretty far back... just a little to far.  I would also like
to pull the lower portion of the fire wall and the beginning of the
tranny tunnel and replace them with custom shaped panels, as they are
pretty roached from hammers and such.  The gas pedal and brake pedal
need to be cleaned up as I kinda' hacked them to get them to clear the
engine on the other side.  The center console had to be yanked as the
sticks don't line up and I would like to replace it with something.  The
stock 14 gallon gas tank is a little small for the new engine and I
would like more range.  I would like to convert the AC compressor to an
air compressor and install a tank on the truck.  There's plenty more on
the wish list, but that's about all that's 5.0 related.

<!--
<h3>Feedback</h3>

So how did you like the page?  I'm not getting paid to do this, but if
you think I left some piece of information out that you would like to
see let me know and I'll try to allocate the time to update the page. ;)

<p>
If you do plan on swapping a Ford 5.0 in your Toy, you might want to
send me some e-mail as I've left some of the little details out of this
that might make your life easier knowing in advance.
(dhiltgen@drseuss.calpoly.edu)
-->

<HR>
<table width="100%">
<tr>
<th><a href="../../"><img src="../../graphics/dh-logo.gif" border=0 alt="Daniel Hiltgen"></a>
<th><a href="http://www.sun.com/"><img src="/bitmaps/sun.gif" border=0 alt="Sun Microsystems"></a>
<th><a href="http://www.freebsd.org/"><img src="/bitmaps/bsdlogo.gif" border=0 alt="BSD daemon logo"></a>
<tr>
<th colspan=3>
$Id: conversion.html,v 1.5 1998/08/04 06:18:06 dhiltgen Exp $
</table>
<h5>
( <img src="/cgi-bin/Count.cgi?df=dh_5_0_conversion.dat&trgb=ffffff&ft=0&dd=E&comma=T" alt="xxx"> )
as of 03/18/99</h5>


</BODY>
</HTML>
