<HTML>

<HEAD>
<title> My Mutt 4Runner </title>
</HEAD>

<BODY>
<table width=100%>
<tr>

<td width=80%>
	<H1 ALIGN=center>The Mutt Page</H1>
	<hr>
	<a href={{ .BlobPrefix }}/graphics/automotive/4runner/IMG_0887_med.jpg><img src={{ .BlobPrefix }}/graphics/automotive/4runner/IMG_0887_small.jpg></a>
	<a href={{ .BlobPrefix }}/graphics/automotive/4runner/IMG_0888_med.jpg><img src={{ .BlobPrefix }}/graphics/automotive/4runner/IMG_0888_small.jpg></a>
	<a href={{ .BlobPrefix }}/graphics/automotive/4runner/IMG_0889_med.jpg><img src={{ .BlobPrefix }}/graphics/automotive/4runner/IMG_0889_small.jpg></a>
	
	<H3><A HREF="my-4runner.html">My 1985 4Runner</A> (The full run-down)</H3>
	
	<H3>Modifications:</H3>
	<UL>
	<LI>Suspension Lift
	<LI>Differential upgrade
	<LI>Front Knuckle Rebuild
	<LI>Stereo Upgrade
	<LI>Tires
	<LI>Body lift (Yuck!  But I had to for the engine)
	<LI><A HREF="conversion.html">Engine upgrade (Ford 5.0)</A>
	</UL>
	
	<H3>Weak links:</H3>
	<UL>
	<LI>Stock 5sp tranny
	<LI>Stock Bumpers
	</UL>
	
	<H3>Hot Links</H3>
	
	<UL>
	<LI><A HREF="http://www.yahoo.com/Recreation/Automobiles/Four_Wheel_Drive/">Yahoo's 4Wheel Drive page</A>
	<LI><a href="http://www.advanceadapters.com/">Advanced Adapters, INC. (Engine Conversion Components)</a><BR>
    	335 Santa Bella Ave. P.O. Box 247<BR>
    	Paso Robles, CA 93446-0247<BR>
    	(800) 350-2223
 	
	<LI>Downey Off Road Manufacturing (After-market Toyota Parts)<BR>
    	10001 South Pioneer Blvd. P.O. Box 3725<BR>
    	Santa Fe Springs, CA 90670-3221<BR>
    	(310) 949-9494
    	
	<LI>Northwest Off road Specialists, INC.  (After-market Toyota Parts)<BR>
    	P.O. Box 1617 Bellingham, WA 98227-1617<BR>
    	(360) 676-1200
	
	</UL>
	$Id: index.html,v 1.2 1998/01/16 07:35:13 dhiltgen Exp $
   <h5>
   ( <img src="/cgi-bin/Count.cgi?df=dh_personal_4x4.dat&trgb=ffffff&ft=0&dd=E&comma=T" alt="xxx"> )
   as of 03/18/99</h5>

</td>


<td valign=TOP align=RIGHT width=20 >
	
	<a href="../../">
		<img src="{{ .BlobPrefix }}/graphics/dh-logo.gif" border=0 
		alt="Daniel Hiltgen"></a><br>
	<a href="http://www.sun.com/">
		<img src="{{ .BlobPrefix }}/graphics/sun.gif" 
		border=0 alt="Sun Microsystems"></a><br>
	<a href="http://java.sun.com/">
		<img src="{{ .BlobPrefix }}/graphics/java.gif" 
		border=0 alt="JavaSoft (Sun Micro.)"></a><br>
	<a href="http://www.javalobby.org/">
		<img src="{{ .BlobPrefix }}/graphics/javalobby.gif" 
		border=0 alt="JavaLobby  Support WORA!"></a><br>
	<a href="http://www.calpoly.edu/">
		<img src="{{ .BlobPrefix }}/graphics/cp-logo.gif" 
		border=0 alt="Cal Poly"></a><br>
	<a href="http://www.itslab.calpoly.edu/">
		<img src="{{ .BlobPrefix }}/graphics/ussnsmall.gif" border=0 
		alt="USSN"></a><br>

	<!-- I can't believe we don't have a CSC department Logo!
	<a href="http://www.csc.calpoly.org/">
		<img src="graphics/csc-logo.gif" 
		border=0 alt="Cal Poly Comp. Sci."></a><br>
	-->
</td>
	
</table>

</BODY>
</HTML>
