<HTML>

<HEAD>
<title> 1985 Toyota 4Runner </title>
</HEAD>

<BODY>
<H1 ALIGN=center>My 1985 Toyota 4Runner</H1>
<P>

<H3 ALIGN="CENTER"><A HREF="../../graphics/4runner.jpg">
My 4Runner (Side shot prior to engine swap with 3.5 inches lift)</A></H3>
<A HREF="../../graphics/mud1.jpg"><img src="../../graphics/mud1small.jpg" alt="Muddy truck with 3.5 inch lift">(Prior to engine swap with 3.5 inches lift)</a><br>
<A HREF="../../graphics/mud2.jpg"><img src="../../graphics/mud2small.jpg" alt="Muddy truck with 3.5 inch lift">(Prior to engine swap with 3.5 inches lift)</a><br>
<a href="../../graphics/truck.jpg"><img src="../../graphics/trucksmall.jpg" alt="Truck after engine swap with 6.5 inches of lift">(After engine swap with 6.5 inches of lift)</a>
<P>
My own personal money pit... but that's a good thing!
<H3>STATS:</H3>

<UL>
<LI>Year : 1985
<LI>Make : Toyota
<LI>Model : 4Runner
<LI>Color : White
<LI>Engine : <A HREF="conversion.html">Ford 5.0 V8</A>
<LI>Miles : 150K (60K on engine)
<LI>Mileage : app 15mpg
<LI>Trans :  BorgWarner T-5
<LI>Lift : 3.5&quot; North-Western Off-road suspension lift + 3&quot; Body lift
<LI>Tires : Super Swamper Thornbirds 33 X 12.5 X 15 
<LI>Gears : Stock
<LI>Diffs: Front = Open ; Rear = Detroit Truetrac 
<LI>Rims : American Racing Black Nugget. (15X10)
<LI>Bumpers : Tube Front and Rear bumper, and tube nerf bars
<LI>Stereo : 
	<UL>
	<LI>Source : Alpine Single CD AI-Net head unit (CDA-7939)
	<LI>Source : Alpine 6 disk changer (CHA-S604)
	<LI>EQ : Alpine Sound Field Processor (ERA-G320)
	<LI>Amp1 : Alpine T300
	<LI>Amp2 : Alpine T500
	<LI>Amp3 : Alpine F300
	<LI>Bass : 4 - 8" Rockford Fosgate's 
	<LI>Bass : 2 10" Alpines in custome boxes.
	<LI>Assorted Mids and Highs
	<BR>Total estimated power: arround 1000 watts
	<br>
	<a href="../../graphics/stereo.jpg"><img src="../../graphics/stereosmall.jpg" alt="Stereo"></a>
	<a href="../../graphics/box-closed.jpg"><img src="../../graphics/box-closedsmall.jpg" alt="Box closed"></a>
	<a href="../../graphics/box-open.jpg"><img src="../../graphics/box-opensmall.jpg" alt="Box open"></a>
	</UL>
</UL>
<HR>

<!-- Since I'm gonna' sell the truck this section is no longer valid

<H3>Future plans for the truck:</H3>

<UL>
<LI>Traction lift for the back end to level the truck. (It currently
	sags a little and with the added HP of the new engine, axle wrap
	is pretty pronounced) 
<LI>Roll Cage
<LI>Fender cut-outs
<li>Wide 35" All Terrain Tires
<LI>Aux. fuel tank
<LI>Baja style roof racK
<LI>Dana 60's front and rear. (Can we say overkill, but bomb-proof.)
</UL>

-->

<table width="100%">
</caption>
<tr>
<th><a href="../../"><img src="../../graphics/dh-logo.gif" border=0 alt="Daniel Hiltgen"></a>
<th><a href="http://www.sun.com/"><img src="/bitmaps/sun.gif" border=0 alt="Sun Microsystems"></a>
<th><a href="http://www.freebsd.org/"><img src="/bitmaps/bsdlogo.gif" border=0 alt="BSD daemon logo"></a>
</table>
<br>
$Id: my-4runner.html,v 1.3 1998/02/24 23:31:51 dhiltgen Exp $
<h5>
( <img src="/cgi-bin/Count.cgi?df=dh_my_4runner.dat&trgb=ffffff&ft=0&dd=E&comma=T" alt="xxx"> )
as of 03/18/99</h5>


</BODY>
</HTML>
